body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Map {
  position: relative;
  width: 100%;
  height: calc(100vh);
}

.bullet {
  display: inline-block;
  margin: 0 8px;
  transform: scale(0.8);
}

.darker {
  background: #0b56be;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.abs-out {
  margin: 24px 48px;
  min-width: 480px;
  margin-right: -48px;
  z-index: 100;
}

.top-margin {
  margin-top: 48px;
}

.deep-back {
  z-index: -100;
}

.fabButton {
  float: right;
  /* position: absolute; */
  margin-top: 36px !important;
  margin-right: -28px !important;
}

.pad-top {
  margin-top: 16px !important;
}

.authors {
  margin-top: 12px !important;
}

.no-underline > a {
  text-decoration: none;
}
